html {
    scroll-behavior: smooth;
}


body {
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    

}

* {
    padding: 0px;
    margin: 0px;

}

h1 {
    color: rgb(20, 10, 10);

}

P {

    font-family: "ArIaL", serif;
    font-size: 30px;
    color: rgb(220, 204, 204);
    line-height: 45px;
}

td {
    color: white;
    font-size: x-large;
    padding: 8px;
}

td:hover {

    background-color: #fff;
    color: black;
}

th {
    color: #f2f2f2;
    font-size: xx-large;
    transition: .5s;
}

th:hover {
    color: black;
}

table {
    background-color: rgb(66, 64, 61);
}

caption {
    color: #f2f2f2
}

/*888888888888888888888888888888888888888 CARROUSEL JS 8888888888888888888888888888888888888888888888888888888888888888888888*/

.contain-carrousel{
   margin-left: 8%;
    border:1px solid rgb(61, 54, 54);
    width: 65%;
    height: 500px;
    padding-left: 19%;
   
}
.contain-carrousel::-webkit-scrollbar-thumb{
    background-color: rgb(213, 148, 50);
    border-radius: 2em;
   
}

.contain-carrousel::-webkit-scrollbar-track{
    background-color: #353333;
}

.carrousel,.carrousel2 {
    border:1px solid rgb(61, 54, 54);
    width: 60%;
    padding: 2em;
    transition:.4s;
    border-radius: 1em;
    overflow: hidden;
    background-color: #282727;
    margin-left: 3em;
    box-shadow: 30px 30px 30px 0px #000000;
    margin-bottom: 4em;
  
  }
  
  .carrousel .grande {

    width: 700%;
    display: flex;
    justify-content: space-between;
    transition: .4s;
    border-radius: 1em;
    padding: 1em;
    transition: .5s;
    transform: translateX(0%);
  }

  


  .carrousel2 .grande2 {
      
    width: 300%;
    display: flex;
    justify-content: space-between;
    transition: .4s;
    border-radius: 1em;
    padding: 1em;
    transition: .5s;
    transform: translateX(0%);
  }
  .carrousel2 .img {
    width: calc( 100% / 3 - 3em);
    height: 270px;
    min-height: 10vh;
    transition: .4s;
    border-radius: 1.5rem;
  }



  
  .carrousel .img {
    width: calc( 100% / 7 - 3em);
    height: 270px;
    min-height: 10vh;
    transition: .4s;
    border-radius: 1.5rem;
  }
  
  .carrousel .img:hover,.carrousel2 .img:hover {
    transform:translateY(-1em);
    box-shadow: 30px 30px 100px 0px #000000;
   
  }

  .carrousel .puntos,.carrousel2 .puntos2 {
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
 
  }
  
  .carrousel .punto,.carrousel2 .punto2 {
    width: 2em;
    height: 2em;
    margin-left: 1em;
    margin-right: 1em;
    transition:.4s;
    background-color: rgb(0, 0, 0);
   
  }
  
  .carrousel .punto.activo,.carrousel2 .punto2.activo2 {
    background-color: rgb(203, 125, 22);
  }

/*8888888888888888888888888888888888888888 FINAL 888888888888888888888888888888888888888888888888888888888888888888*/

.contain-final{
    display:block;
    position:relative;
  margin-left:-5%;
  margin-right:-6.5%;
    height:2.5em;
    background-color: black;
}

.cajaHija{
    display:inline-block;
    height:1.5em;
    margin:.4em;
    border-radius: 5%;
}
.cajaHija p{
    position:relative;
font-size: medium;
bottom:.7em;
}
.cajaHija ion-icon{

    color:rgb(255, 243, 5);
position:relative;
margin:.4em;
}

.cajaHija:hover{
    background:rgb(165, 160, 160);
    border-radius: 0%;
}

.cajaHija p:hover{
    color:rgba(0, 0, 0, 0.6);
    position:relative;
font-size: medium;
bottom:.7em;
}


/*888888888888888888888888888888888888888 FORMULARIO 88888888888888888888888888888888888888888888888888888888888*/

.box-right #form,.box-left #form {
  position: relative;
  width: 90%;
  margin: 50px auto 100px auto;
}

.box-right input,.box-left input {
  width: 90%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: #434343;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;

  transition: all 0.5s;

}

.box-right input:hover,.box-left input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

.box-right textarea,.box-left textarea {
    width: 90%;
  max-width: 90%;
  min-width: 70%;
  height: 110px;
  max-height: 150px;
  padding: 15px;
  
  background-color:#202020;
  outline: none;
  
  color: #726659;
  
  border: solid 1px #b3aca7;
}

.box-right textarea:hover,.box-left textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

.box-right #submit,.box-left #submit {
    position:relative;
    float:left;
  width: 97%;
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  color: #b3aca7;
  
  outline:none;
  
  border: 1px solid #b3aca7;
 
}

.box-right #submit:hover,.box-left #submit:hover {
  color: #e2dedb;
}
/*
  .invalid {
    border: 2px solid #ff0000;
    }*/

/*888888888888888888888888888888888 CIRCULOS CONTENEDORES  88888888888888888888888888888888888888888888888888888888*/

.contain-circulo {
    display: flex;
    display: inline-block;
    height: 30em;
    width: 40%;
    border-radius: 100%;
    border: 1px solid hsl(0, 0%, 0%);
    background-color: rgb(172, 160, 160);
    margin-left: 5%;
    margin-bottom: 90px;
    margin-top: 50px;

}

.texto-circulo {

    display: block;
    position: relative;
    top: 17%;
    left: 13%;
    width: 75%;
    height: 19.5em;
    /* border:2px solid rgb(14, 13, 13);*/
    overflow-y: auto;
    overflow-wrap: break-word;
}

.texto-circulo p {
    color: black;
    font-size: larger;
    line-height: 1.5em;
}

/*888888888888888888888888888888888888888 TABLA 8888888888888888888888888888888888888888888888888888888888888888888888*/

.contain-tabla {
    position: relative;
    display: flex;
    margin-top:100px;
    width: 70%;
    height:auto;
    overflow-x:auto;
}


/*888888888888888888888888888888888888 CERRAR 8888888888888888888888888888888888888888888888888888888888888888888888888*/

.cerrar {

    float: right;
    border: 1px solid rgb(112, 98, 98);
    width: 50px;
    height: 50px;
    background-color: #4343435c;
    transition: 0.5s;

}

.cerrar:hover {
    padding-right: 20px;
    opacity: 90%;
}

.cerrar ion-icon {
    color: #fff;
    width: 100%;
    height: 100%;

}

/*888888888888888888888888888888888888 ENTRAR A LA FOTO 8888888888888888888888888888888888888888888888888888888888888888888888888*/

.modulo {
    display: none;
}

.modulo:target {
    display: inline-block;
    visibility: visible;
    opacity: 1;

    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
   


}

.modulo:target img {
    object-fit: contain;
    position: relative;
    margin-top: 35px;
    left: 15%;
    right: 10%;
    width: 65%;
    height: 80%;
    transition: 1s;
}

/*888888888888888888888888888888888888 CAJA CONTENEDORA de CAJA RIGHT Y CAJA LEFT 8888888888888888888888888888888888888888888888888888888888888888888888888*/

.contain-box {

    top: 80px;
    left: 4%;
    position: relative;
    width: 90%;
    height: 400px;
    /*  border:1px solid white; */
    display: inline-block;
    margin-bottom: 5%;

}

.box-left {
    
    float: left;
    width: 48%;
    height: 100%;

}

.box-right {

    float: right;
    width: 48%;
    height: 100%;
   


}

.titulo {

    display: block;
    width: 100%;
    height: 15%;
}

.titulo h1:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(188, 131, 57);
    border: 1px solid grey;
}

.titulo h1 {

    text-align: center;
    background-color: rgb(203, 125, 22);
    transition: 1s;
}

.texto {

    display: block;
    width: 100%;
    height: 85%;
    overflow: auto;
}

.box-left img {
    /* display: inline-flex;*/
    object-fit: cover;

    width: 80%;
    height: 80%;

    margin-left: 15%;
    margin-top: 50px;
    transition: .5s;
    
}

.box-right img {
    object-fit: cover;
    /* display: inline-flex;*/
    width: 90%;
    height: 90%;

    transition: .5s;
}

.box-left img:hover {
    border-radius: 2%;

    transform: translate(0px, -10px);
    box-shadow: 5px 5px 10px rgb(14, 13, 13);

}

.box-right img:hover {
    border-radius: 2%;
    transform: translate(0px, -10px);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);

}

/*88888888888888888888888888888888888888888888888888 LINEA SEPARATORIA 888888888888888888888888888888888888888888888888888888888888888888*/

.linea img {
    margin-top: 80px;
    margin-bottom: 20px;
    height: 25px;
    width: 100%;
}

/*888888888888888888888888888888888888888888888888  FOTO INICIAL MAS REDES 88888888888888888888888888888888888888888888888888888888888888888888*/

.fotoPrincipal {

    display: inline-block;

    position: relative;
    width: 90%;
    height: 500px;
    left: 4%;
    top: 80px;
    margin-bottom: 10%;
}

.fotoPrincipal img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contain-redes {
    position: sticky;
    display: inline-block;
    height: 200px;
    width: 3%;
    top: 70px;
    margin-left: 60px;

}

.img-redes {
    position: relative;
    width: 100%;
    height: 25%;
    margin-bottom: 10px;
    background: #434343;
    border-radius: 100%;
    padding: 0px 6px;
    transition: 1s;
    border: 1px solid white;
}

.img-redes:hover {
    border: none;
    background: #282727;
    right: 1px;

}

.img-redes ion-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.img-redes ion-icon:hover {
    color: #f2f2f2;
}

.img-redes a:visited {
    color: #000000;
}

/*88888888888888888888888888888888888888888  BARRA DE NAVEGACION FIXED 888888888888888888888888888888888888888888888888888888*/

.contain-Menu {
    display: flex;
    background: #434343;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 150;
}

.contain-Menu img {
    position: relative;
    width: 7%;
    height: 100%;
    display: inline-block;
    left: 60px;
    transition: 0.5s;
}

.contain-Menu img:hover {
    opacity: 55%;
}

.header {

    position: relative;
    right: 10%;
    left: 10%;
    height: 100%;
}

ul,
ol {
    display: flex;
    list-style: none;
}

.nav li a {
    display: flex;
    background-color: #434343;
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
    


}

.nav li a:hover {
    color: #000000;
    background-color: #706969;
}

.nav>li:hover {
    background-color: #706969;
}

.nav>li {
    margin-left: 5%;
    height: 100%;
    padding-top: 11px;
    /*****************/

}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;

}

.nav li ul {
    border-bottom: 1px solid rgb(255, 255, 255);

}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

/*88888888888888888888888888888888888888 SCROLL BAR 8888888888888888888888888888888888888888888888888888888888*/

::-webkit-scrollbar{
    width:.8em;
}
::-webkit-scrollbar-track{
    background-color: #434343;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(172, 160, 160);
    
   
}

/*888888888888888888888888888888888888888 RESPONSIVE 88888888888888888888888888888888888888888888888888888888888888888888888888888*/

@media only screen and (max-width:911px) {

    /*MENU*/
    /* .contain-Menu{
       display:none;
   }*/

    /*REDES LOGOS*/



    .contain-redes {

        position: relative;
        height: 40px;
        width: 90%;
        top: 30px;
        left: 5px;
        display: flex;
        flex-direction: row;
        justify-content: Space-around;

    }

    .img-redes {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 100%;
        margin-right: 20px;
        margin-left: 50px;
        background: #434343;
        border-radius: 100%;
        padding: 0px 6px;
    }

    .img-redes a img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }


}